[mysqld]
bind_address            = {{ galera_bind_address }}
user                    = {{galera_owner_name}}
datadir                 = {{ galera_datadir }}
tmpdir                  = /tmp

skip-name-resolve

myisam-recover-options  = BACKUP

############
# Logging
############
log_error               = {{galera_logdir}}/error.log
slow_query_log_file     = {{galera_logdir}}/slow.log
slow_query_log          = 1
long_query_time         = 1
log-queries-not-using-indexes

############
# Binlog
############
{% set galera_clusterId = galera_nodes.index(inventory_hostname) + 1 %}
server-id               = {{ galera_clusterId }}
log_bin                 = {{ galera_logdir }}/mysql_bin.log
binlog_format           = ROW
log_slave_updates

############
# WSREP
############
{# list of cluster members #}
{% set cluster_members = [] -%}

{%- for node in galera_nodes %}
    {%- set _ = cluster_members.append(hostvars[node].ansible_default_ipv4.address) -%}
{% endfor -%}
wsrep_cluster_address   = gcomm://{{ ",".join(cluster_members) }}

wsrep_provider          = /usr/lib/libgalera_smm.so
wsrep_sst_method        = xtrabackup-v2
wsrep_sst_auth          = {{ galera_dbusers['xtrabackup']['username'] }}:{{ galera_dbusers['xtrabackup']['password'] }}
wsrep_node_address      = {{ ansible_default_ipv4.address }}

wsrep_cluster_name      = {{cluster_name}}
wsrep_dirty_reads       = ON

############
# InnoDB
############
default_storage_engine          = InnoDB
innodb_autoinc_lock_mode=2

[mysqldump]
quick
quote-names
max_allowed_packet      = 64

!includedir /etc/mysql/conf.d/